@model UserCreateViewModel
@{
    Layout = "_Layout";
}
@section Styles
{
    body{
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 99%,rgba(255,255,255,1) 100%);

    }


}
<div>
    <div class="w-50 mx-auto">
        <h1 class="display-6">Register</h1>
        <hr/>
        <form asp-action="Create" asp-controller="Account" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="UserName">Kullanıcı Adı</label>
                <input class="form-control" asp-for="UserName"/>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Email">E Posta</label>
                <input class="form-control" asp-for="Email"/>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password">Şifre</label>
                <input class="form-control" asp-for="Password"/>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="PasswordConfirm">Şifre Doğrulama</label>
                <input class="form-control" asp-for="PasswordConfirm"/>
            </div>
            <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

