@model PasswordResetViewModel
@{
    Layout= "_Layout";
}

<div class="container">
    <div class="mx-auto">
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Code"/>
            <input type="hidden" asp-for="Email"/>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control"/>
            </div>
            <div class="mb-3">
                <label asp-for="PasswordConfirm" class="form-label"></label>
                <input asp-for="PasswordConfirm" class="form-control"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
